@import 'colors';
@import 'general';


.input-search {
  width: 80%;
  border-radius: 20px;
}

.click-start {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid purple;
  position: relative;
}

.click-start .plus-in-circle {
  font-size: 100px;
  position: absolute;
  top: 10px;
  left: 50px;
}