@import 'assets/styles/colors';

.root {
  padding: 40px;

  .root-heading {
    color: coral;
    font-size: 4rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.search-div {
  width: 100%;
}


.search-field {
  display: inline-block;
  width: 80%;
  height: 131px;
  border: 1px solid transparent;
  position: relative;
  left: 10%;
  color: #4A4A4A;
  font-family: Assistant;
  font-size: 100px;
  line-height: 131px;
  outline: 0;
  font-weight: 100;
}

.search-field::-webkit-input-placeholder {
  color: #C9C9C9;
  font-weight: 100;
}