@import 'assets/styles/colors';

.root {
  padding: 40px;

  .root-heading {
    color: coral;
    font-size: 4rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.search-field {
  display: inline-block;
  width: 802px;
  height: 131px;
  border: 1px solid transparent;
  font-size: 36px;

}
