

.in-theater-holder{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90vw;
    padding-left: 10%;
}

.now-playing-header {
    padding-left: 10%;
}

.one-movie-holder{
    position: relative;
    cursor: pointer;
}

.tinting-movies-on-hover3{
    /*display: none;*/
    width: 15vw;
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.tinting-movies-on-hover3:hover{
    display: inline-block;
    background-color: rgba(189,16,224,0.4);
}

.add-to-watchlist-btn3{
    display: none;
    width: 84%;
    color: white;
    background-color: #BD10E0;
    border: none;
    position: absolute;
    /*margin: 0 auto;*/
    top: 50%;
    left: 10%;
    height: 25px;
    width: 177px;
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
}

.tinting-movies-on-hover3:hover .add-to-watchlist-btn3{
    display: inline-block;
}

.in-theater-holder  .one-movie-holder .one-movie-title2{
    font-size: 12px ;

}

.pagination-hoolder{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin: 0 auto;

}

.page-btn{

    width: 75px;
    height: 30px;
    border-radius: 5px;

}

